

.env
.env.*
kaggle.json
credentials/
secrets/



dados_temporarios/
data/
*.csv
*.parquet
*.json
*.sqlite
*.db



.docker/
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid



pycache/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/


venv/
.venv/
env/
.env_dir/

.DS_Store
Thumbs.db